.cover {
  width: 100%;

  &-title {
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  &-date {
    width: 100%;
    font-size: 1.44rem;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  &-tags {
    width: 100%;
    font-size: 1.08rem;
    font-weight: bold;
    line-height: 16px;
    text-align: center;

    .tag {
      display: inline-block;
      padding: 0 7px;
      margin-right: 4px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #8b949e;
      background-color: transparent;
      border: 1px solid #30363d;
      border-radius: 2em;
    }
  }

  img {
    width: 100%;
    height: 50vh;
    vertical-align: middle;
    filter: brightness(60%);
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
}

@media (prefers-color-scheme: dark) {
  .cover {
    &-tags {
      .tag {
        color: #f3f3f3;
        border: 1px solid #dedede;
      }
    }
  }
}

@media (max-width: 600px) {
  .cover {
    position: relative;

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 1.6rem;
      text-align: left;
    }

    &-date {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 1.2rem;
      text-align: left;
    }

    &-tags {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 1.08rem;
      text-align: left;
    }
  }
}
